__pycache__
.ipynb_checkpoints

modules/__pycache__
modules/.ipynb_checkpoints

data
data/pdbbind
data/pdbbind/1981-2000
data/pdbbind/2001-2010
data/pdbbind/2011-2019

data_preprocessed/pdbbind/*
data_preprocessed/PDBbind_data.tsv

data_embeddings/pdbbind/*

outputs/.ipynb_checkpoints
outputs/pdbbind/.ipynb_checkpoints
outputs/pdbbind/CV/fold0/Pseq2Sites.pth
outputs/pdbbind/CV/fold1/Pseq2Sites.pth
outputs/pdbbind/CV/fold2/Pseq2Sites.pth
outputs/pdbbind/CV/fold3/Pseq2Sites.pth
outputs/pdbbind/CV/fold4/Pseq2Sites.pth
